@page
@model SmartBotX_V_2.Pages.Admin.NewsletterModel
@{
    ViewData["Title"] = "Newsletter";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<section class="bg-danger text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start" data-aos="fade">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Newsletter</h1>
                <p class="lead">
                    Here you'll see the emails of the people who wants to keep updated for any future releases
                </p>
                <br />
            </div>
            <img class="d-none d-md-block img-fluid"
                 src="/images/a.png"
                 alt="Robot"
                 width="250"
                 height="250" />
        </div>
    </div>
</section>

<!--Mails-->
<section class="text-light p-5 text-center text-sm-start bg-white" data-aos="slide-up">
    <div class="container">
        <table class="tabledata table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>E-mail</th>
                    <th>Action</th>
                </tr>
            </thead>


            <tbody>
                @foreach (var item in Model.listClients)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.email</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="/Admin/Edit?id=@item.Id">Edit</a>
                            <a class="btn btn-danger btn-sm" href="/Admin/Delete?id=@item.Id">Delete</a>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</section>

<!--Contact-->
<section class="text-light p-5 text-center text-sm-start bg-white" data-aos="slide-up">
    <hr class="text-danger fs-3" />
    <div class="container">
        <h1 class="text-dark text-center">Get in touch</h1>
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <hr class="text-dark">
                <p class="text-dark lead">Email: <span class="text-dark">smartbotx@webname.com</span></p>
                <hr class="text-dark">
                <p class="text-dark lead">Contact: <span class="text-dark">+639-143-234-675</span></p>
                <hr class="text-dark">
                <p class="text-dark">-OR-</p>
                <a href="https://facebook.com/smartbotx" class="link-underline link-underline-opacity-0">
                    <i class="bi bi-facebook text-primary mx-3 ms-lg-0 px-auto fs-1"></i>
                </a>
                <a href="https://twitter.com/smartbotx" class="link-underline link-underline-opacity-0">
                    <i class="bi bi-twitter text-primary mx-3 px-auto fs-1"></i>
                </a>
                <a href="https://discord.gg/mfm4N3NzU6" class="link-underline link-underline-opacity-0">
                    <i class="bi bi-discord text-primary mx-3 px-auto fs-1"></i>
                </a>
            </div>
            <img class="d-none d-md-block img-fluid"
                 src="/images/contact.png"
                 alt="Mission&Vision"
                 width="350" />
        </div>
    </div>
</section>