@page
@model SmartBotX_V_2.Pages.Admin.PanelModel
@{
    ViewData["Title"] = "Panel";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<!--Main-->
<section class="bg-warning text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start" data-aos="fade">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1 class="text-dark">
                    Welcome <span class="text-primary">Harley</span>
                </h1>
                <p class="lead text-dark">
                    This part of the admin Panel is still in development.
                </p>
                <br />
            </div>
            <img class="d-none d-md-block img-fluid"
                 src="/images/a.png"
                 alt="Robot"
                 width="250"
                 height="250" />
        </div>
    </div>
</section>